body {
  text-align: center;
}

.App-header {
  background-color: #000;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-item {
  margin-top: 80px;
}

.App-item-wrapper {
  width: 480px;
  margin: auto;
}
